@import '../node_modules/mini.css/dist/mini-default.min.css';

.square {
    width: 100px;
    height: 100px;
    font-size: 50px;
    background-color: rgb(200, 200, 200);
}

.square:hover {
    background-color: rgb(240, 240, 240);
}

.board {
    margin: 10px;
}

form {
    min-width: 300px;
}

.error-block {
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.2);
    border-radius: 10px;
}

.center-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    height: 5.1875rem;
}

a.button.active {
    border: 1px solid var(--fore-color);
}